:root {
    --light-tect-clr: #ffffff;
    --dark-text-clr: #333333;
    --primary-clr: #1abc9c;
    --secondary-clr: #2c3e50;
    --secondary-clr-light: #3a546d;
}

/* COMMON */
body {
    color: #ffffff;
}

ul {
    list-style: none;
}

li {
    display: inline-block;
}

a {
    text-decoration: none;
    color: var(--light-tect-clr);
}

img {
    width: 100%;
}

.ms_container {
    margin: 0 auto;
    width: 70%;
}

.button {
    background-color: var(--primary-clr);
}

/* HEADER */
nav {
    height: 4rem;
    line-height: 4rem;
    background-color: var(--secondary-clr);
}

section {
    padding: 2rem 0;
}

/* JUMBOTRON */
.jumbotron,
.about {
    background-color: var(--primary-clr);
}

.jumbo-img {
    margin: 0 auto;
    width: 6rem;
}

/* MAIN */
/* PORTFOLIO */
.portfolio h2,
.contact h2 {
    color: var(--dark-text-clr);
}

.img-wrapper {
    width: 100%;
    background-color: var(--secondary-clr-light);
}

/* CONTACT */
.contact .ms_container {
    padding: 0 1rem;
}

/* FOOTER */
.footer-top {
    background-color: var(--secondary-clr-light);
}

.footer-bottom {
    height: 5rem;
    background-color: var(--secondary-clr);
}