:root {
    --ms_light-text-clr: #ffffff;
    --ms_dark-text-clr: #333333;
    --ms_primary-clr: #1abc9c;
    --ms_secondary-clr: #2c3e50;
    --ms_secondary-clr-light: #3a546d;
}

/* COMMON */
html {
    font-size: 100%;
}

body {
    color: var(--ms_light-text-clr);
}

ul {
    list-style: none;
}

li {
    display: inline-block;
    margin-left: 1rem;
}

a {
    text-decoration: none;
    color: var(--ms_light-text-clr);
}

img {
    width: 100%;
}

section {
    padding: 2rem 0;
}

.ms_container {
    margin: 0 auto;
    width: 75%;
}

.ms_btn-light {
    border: 1px solid var(--ms_light-text-clr);
    color: var(--ms_light-text-clr);
}

.ms_btn-primary {
    background-color: var(--ms_primary-clr);
    color: var(--ms_light-text-clr);
}

/* HEADER */
nav {
    height: 4rem;
    line-height: 4rem;
    background-color: var(--ms_secondary-clr);
}

/* MAIN */
section:nth-child(odd) {
    background-color: var(--ms_primary-clr);
}

section:nth-child(even) {
    color: var(--ms_dark-text-clr);
}

/* JUMBOTRON */
.jumbo-img {
    margin: 0 auto;
    width: 6rem;
}

/* PORTFOLIO */
.img-wrapper {
    border-radius: .5rem;
    overflow: hidden;
   
}

/* CONTACT */
.ms_form-control {
    border: solid #ddd;
    border-width: 0 0 2px 0;
    border-radius: 0;
}

.ms_form-control:focus {
    border-color: #ddd;
    box-shadow: none;
}

label.ms_label {
    padding-left: 0;
}

/* FOOTER */
.footer-top {
    background-color: var(--ms_secondary-clr-light);
}

.footer-bottom {
    height: 5rem;
    line-height: 5rem;
    background-color: var(--ms_secondary-clr);
}